/* Global Styles */
* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#fff 1%, #fff 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
    background-color: #fff;
    min-height: 100vh;
}

#home-hero {
    height: 100vh;
    background-image: url('images/hero-background.png');
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

/* Responsive background for small screens */
@media (max-width: 768px) {
    #home-hero {
        background-size: 110vw auto;
        background-position: center top;
        background-position-y: 0;
    }

    #iycz3 {
        max-width: 90vw;
        width: 90vw;
        margin: 0 auto;
        margin-top: 40vh;
        left: 0;
        right: 0;
        position: relative;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#hero-heading {
    background-color: rgb(0, 0, 0, 0);
}

/* Override any potential white backgrounds */
html,
body,
main {
    background-color: #fff !important;
}

/* Common Components */
.heading {
    margin: 0;
}

.grid-column {
    flex: 1 1 0%;
    padding: 5px 0;
}

.grid-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    min-height: auto;
    padding: 10px 0;
}

.link {
    vertical-align: top;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #D0343E;
    transition: color 0.3s ease 0s;
}

.text-content {
    line-height: 20px;
}

.text-main-content {
    line-height: 30px;
    font-size: 1.2rem;
}

.grid-column.feature-item,
.grid-column.testimonial-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
}

.grid-column.testimonial-item {
    min-width: 45%;
    background-color: rgba(247, 247, 247, 0.23);
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.button {
    vertical-align: top;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: rgb(36, 99, 235);
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: center;
}

.link:hover {
    color: #D0343E;
    text-decoration: underline;
}

.icon {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    fill: currentColor;
    width: 50px;
    height: 50px;
}

.icon.feature-icon {
    padding: 10px;
    background-color: #D0343E;
    color: white;
    border-radius: 10px;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #222;
    color: #ddd;
    min-height: 50px;
    width: 100%;
    position: relative;
}

.navbar-container {
    max-width: 950px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
}

.navbar-items-c {
    display: inline-block;
}

.navbar-container::after {
    content: "";
    clear: both;
    display: block;
}

.navbar-brand {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
    color: inherit;
    text-decoration: none;
}

.navbar-menu {
    padding: 10px 0;
    display: block;
    float: right;
    margin: 0;
}

.navbar-menu-link {
    margin: 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.navbar-burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.navbar-burger-line {
    padding: 1px;
    background-color: white;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

/* Header/Hero Section IDs */
#irjua {
    font-size: clamp(2.2rem, 7vw, 3.5rem);
    text-align: center;
    padding-top: 7.5vh;
    padding-bottom: 10px;
    color: #D0343E;
    padding-left: 3vw;
    padding-right: 3vw;
}

body #i16n4i {
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    color: #000;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

/* Optional: further reduce font size on very small screens */
@media (max-width: 480px) {
    #irjua {
        font-size: clamp(1.5rem, 10vw, 2.5rem);
    }

    body #i16n4i {
        font-size: clamp(1.1rem, 7vw, 2rem);
    }
}

/* Content Section Containers */
#iycz3 {
    max-width: 50vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Main Section Wrappers */
#irz7b,
#feature-section,
#imymf,
#ib541,
#iag2nk,
#ik2rdi,
#iz29ek,
#ioyxg,
#i8w4i,
#ixzh1 {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#irz7b {
    justify-content: right;
    padding-right: 3vw;
}

/* Text Content IDs */
#i03vrs,
#ijbrmr,
#i8isa {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #000000;
}

/* Section Headings */
#iiacm,
#i83vu9 {
    justify-content: center;
    font-size: 2.5rem;
    color: #000000;
}

/* Embed column */
#ig4of1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Spacing/gap */
#ib541 {
    gap: 35px;
    justify-content: center;
    align-items: center;
}

/* Containers */
#imymf {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#iag2nk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
}

#ioyxg {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Colors */
#illxu,
#ictxk,
#ipmqo6,
#iwgwt5 {
    background-color: #D0343E;
}

/* Feature headings */
#iuq7hb,
#iuwodg,
#in9ef {
    font-size: 1.5rem;
    color: black;
}

/* Text padding */
#i03vrs,
#ijbrmr,
#i8isa {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Layout */
#ixzh1 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    color: black;
}

#i8w4i {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

/* Media Section IDs */
#i83vu9 {
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
}

#in201n {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #000000;
}

#ik2rdi {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#iiacm {
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 750px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 69px;
    margin-left: 0px;
}

/* Footer Section IDs */
#i46vmh,
#ipv8r8,
#is45mp {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 100%;
    color: #fff;
}

#ipv8r8 {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

#is45mp {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#000 1%, #000 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

/* YouTube Container */
.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Media Queries */
@media (max-width: 992px) {
    .grid-row {
        flex-direction: column;
    }

    .grid-row>.grid-column {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .navbar-items-c {
        display: none;
        width: 100%;
        background-color: #222;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .navbar-burger {
        display: block;
        margin-left: 15px;
    }

    .navbar-menu {
        width: 100%;
        text-align: center;
    }

    .navbar-menu-link {
        display: block;
        padding: 10px;
    }

    .navbar-items-c.active {
        display: block;
    }
}

/* Override for footer links */
footer .link,
.site-footer .link {
    color: inherit;
}

footer .link:hover,
.site-footer .link:hover {
    color: #D0343E;
}

main a:not(footer a):not(.navbar-menu-link):not(.button) {
    color: #D0343E;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

main a:not(footer a):not(.navbar-menu-link):not(.button):hover {
    color: #D0343E;
    text-decoration: underline;
}

.timeline {
    position: relative;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #D0343E;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-item {
    width: calc(50% - 40px);
    margin: 40px 0;
    position: relative;
    padding: 20px;
    background-color: rgba(208, 52, 62, 0.1);
    border-radius: 8px;
    clear: both;
}

.timeline-item:nth-child(odd) {
    float: left;
    clear: both;
}

.timeline-item:nth-child(even) {
    float: right;
    clear: both;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background: #D0343E;
    border-radius: 50%;
    border: 4px solid #fff;
    z-index: 2;
}

.timeline-item:nth-child(odd)::before {
    right: -50px;
}

.timeline-item:nth-child(even)::before {
    left: -50px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 27px;
    width: 30px;
    height: 4px;
    background: #D0343E;
    z-index: 1;
}

.timeline-item:nth-child(odd)::after {
    right: -30px;
}

.timeline-item:nth-child(even)::after {
    left: -30px;
}

.timeline-item h3 {
    margin-bottom: 5px;
    color: #000000;
    font-size: 1.4rem;
}

.timeline-content {
    margin-top: 10px;
    color: #000000;
}

.timeline-content a {
    color: #D0343E;
    text-decoration: none;
}

.timeline-content a:hover {
    text-decoration: underline;
    color: #D0343E;
}

.timeline-item .text-blue {
    margin-bottom: 10px;
    color: #000000;
}

.timeline-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
    margin: 15px 0;
    background-color: rgba(208, 52, 62, 0.05);
}

@media (max-width: 768px) {
    .timeline::before {
        left: 30px;
    }

    .timeline-item {
        width: calc(100% - 80px);
        margin: 30px 0 30px 60px;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        float: none;
    }

    .timeline-item::before {
        left: -45px;
    }

    .timeline-item::after {
        left: -30px;
    }
}

/* Landscape mode optimizations */
@media screen and (orientation: landscape) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }

    main {
        width: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .grid-row {
        width: 100%;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }
}

.breakable-dash {
    white-space: normal;
}

.breakable-dash::after {
    content: "\200B";
}

.breakable-to {
    white-space: normal;
}

.breakable-to::after {
    content: "\200B";
}